@using Fluxor;
@using BlazorWizard.Store.Wizard;
@using Blazorise;
@inject IState<WizardState> state

@inject IDispatcher dispatcher


@if (_task.IsCompleted)
{
<Wizard Id="DemoWizard" @ref="@TheWiz">

    <WizardStep Name="First" >
        <div class="row">
            <FirstStep></FirstStep>
        </div>
    </WizardStep>

    <WizardStep Name="Second Step"  >
        <div class="row">
            <p>Wow, you've reached the second step!</p>
        </div>
    </WizardStep>
    <WizardStep Name="Final Step" >
        <div class="row">
            <p>The final step has been reached. Thank you \o/</p>
        </div>
    </WizardStep>
</Wizard>
}
else
{
    <div>Loading</div>
}
@code {
   


}
