@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (Parent.ActiveStep == this)
{
    if (Visible)
    {
        <div id="step-@(Parent.StepsIndex(this) + 1)">
            @ChildContent
        </div>
    }
    else
    {
        <div id="step-@(Parent.StepsIndex(this) + 1)" hidden>
            @ChildContent
        </div>
    }

}