@page "/wizarddemo"
@if (_task != null && _task.IsCompleted)
{
    <Wizard Id="DemoWizard">
        <WizardStep Name="First Step" Enabled="true">
            <div class="row">
                <FirstStep></FirstStep>
            </div>
        </WizardStep>
        <WizardStep @ref="Step2" Name="Second Step" @bind-Enabled="@step2Enabled">
            <div class="row">
                <p>Wow, you've reached the second step!</p>
            </div>
        </WizardStep>
        <WizardStep Name="Final Step" @bind-Enabled="@step3Enabled">
            <div class="row">
                <p>The final step has been reached. Thank you \o/</p>
            </div>
        </WizardStep>
    </Wizard>
    <Blazorise.Button @ref="chkEnable" Class="btn btn-primary" Clicked="@OnClick">Toggle Enabled</Blazorise.Button>
}

@code {
    Wizard TheWizard { get; set; }
    WizardStep Step2;
    Task _task;

    bool step2Enabled = true,
        step3Enabled = true,
     enableChecked = true;

    void OnClick()
    {
        step2Enabled = !step2Enabled;
        step3Enabled = !step3Enabled;



        StateHasChanged();
        Step2.Refresh();
    }
    Blazorise.Button chkEnable;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {

            //step2Enabled = chkEnable.Checked;
            //step3Enabled = chkEnable.Checked;
            //StateHasChanged();
        }
        Step2.Refresh();
        base.OnAfterRender(firstRender);
    }
    protected override async  Task OnInitializedAsync()
    {

        _task =  base.OnInitializedAsync();
        await _task;

    }

    protected override async Task OnParametersSetAsync()
    {
        //  step2Enabled = chkEnable.Checked;
        // step3Enabled = chkEnable.Checked;
        //_task =  base.OnParametersSetAsync();
        //await _task;

    }


}